/* Basic styles for Tiptap editor content */
.ProseMirror p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
}
.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.ProseMirror h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.ProseMirror blockquote {
  border-left: 3px solid #ccc;
  padding-left: 1em;
  font-style: italic;
}
